.navbar{
    padding:20px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo{
    width:150px;

}

.navbar-menu{
    display:flex;
    list-style: none;
    gap:20px;
    color:#49557e;
    font-size: 18px;;
}
.navbar-right{
    display:flex;
    align-items: center;
    gap:40px;
}
.navbar button{
    background: transparent;
    border:1px solid tomato;
    color:#49557e;
    padding: 10px 30px;
    border-radius: 50px;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid  #49557e;
}
.navbar li{
    cursor:pointer
}
.navbar-user{
    position:relative

}
.profile-options{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 12px 25px;
    background-color:#fff2ef ;
    border-radius: 4px;
    z-index: 10;
    list-style: none;
    right:0
    

}
.profile-options li{
    display:flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media (max-width:750px){
    .navbar-menu{
      display:none;
    }
}