.footer{
    color:#d9d9d9;
    background-color: #323232;
    height:50vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding:20px 8vw;
    padding-top: 80px;
}


.footer-content{
    width:100%;
    display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   gap:80px
}
.content-left ,.content-center,.content-right{
    display:flex;
    flex-direction: column;
    align-items: start;
    gap:20px
}

.content-left li ,.content-center li,.content-right li{
    list-style: none;
    margin-bottom: 10px;
    cursor:pointer
}
.content-left h2 ,.content-center h2{
 color:white
}

.footer-social-icons img{
    width:40px;
    margin-right:15px
}